body {
	background: #F2F2F2;
	font-family: 'Open Sans';
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
#cabeçalho {
	background: #FFBF00;
	height: 130px;
	width: 100%;
	padding: 15px;
	margin: -10px -10px 10px -10px;
	text-align: center;
}
#cabeçalho a {
	padding: 7px;
	color: white;
	margin: 5px;
	position: relative;
	bottom: 5px;
}
#cabeçalho a:hover {
	color: #FFBF00;
	background: white;
}
#cabeçalho a:active {
	color: #FFBF00;
	background: #585858;
}
#cabeçalho h1 {
	width: 49%;
	margin: 30px 0px;
	float: left;
	display: inline;
}
.preto {
	text-align: right;
	color: #585858;
}
.branco {
	color: white;
	text-align: left;
}
#base {
	width: 1043px;
	height: 1265px;
	margin: 15px auto;
}
#base a:hover {
	color: #585858;
}
.corpo {
	background: white;
	width: 643px;
	height: 1220px;
	padding: 25px 20px 20px 20px;
}
.corpo a {
	color: #FFBF00;
}
.corpo h3 {
	margin: 0px;
}
.amarelo {
	color: #FFBF00;
	margin-bottom: -3px;
	margin-top: 0px;
}
.fonte {
	font-size: 13px;
}
.imagem {
	margin-top: 20px;
}
.notas {
	background: white;
	width: 300px;
	padding: 1px 20px 10px 20px;
	margin: 10px 20vw 10px 10px;
	position: relative;
	bottom: 1275px;
	left: 693px;
}
.notas a {
	color: #FFBF00;
	display: block;
	padding: 2px;
}
.notas h3 {
	background: #D8D8D8;
	padding: 2px 4px 4px 4px;
	text-align: center;
	color: #585858;
}
.fundo {
	background: #F2F2F2;
	height: 10px;
	margin: 10px -20px;
}
.fundo1 {
	background: #F2F2F2;
	height: 10px;
	margin: 15px -20px 20px -20px;
}
#rodape {
	width: 100vw;
	background: #BDBDBD;
 	margin-top: 10px;
	padding: 5px;
	text-align: center;
	clear: both;
}
.clear {
	clear: left;
}